body
{
        margin: 0;
        padding: 0;
        background: url(bus.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: bold;
        justify-content: center;
        position: relative;
 }
.regform{
    width: auto;
    height: auto;
    background:rgb(19, 2, 2);
    color: white;
    top: 80%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 60px;
}

.user{
  width: 100px;
  height: 100px;
  border-radius:50% ;
  position: absolute;
  top: -50px;
  left:calc(50% - 50px);

}
 

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;

}

.regform p{
    margin: 0;
    padding: 0;
    font-weight: bold;
 }

.regform input{
   width: 100%;
   margin-bottom: 20px;
 }
.regform input[type="text"], input[type="password"]
 {
    border: none;
    border-bottom: 1px solid rgb(173, 26, 26);
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

 }

.regform input[type="button"]
 {
   border:none;
   outline: none;
   height: 40px;
   background: red;
   color: #fff;
   font-size: 18px;
   border-radius:20px;
 }
 
 
button
 {
   border:none;
   outline: none;
   height: 40px;
   width: 117px;
   background: red;
   color: #fff;
   font-size: 18px;
   border-radius:20px;
 }
 
.regform input[type="button"]:hover
 {
   cursor:pointer;
   background: #ffc107;
   color:#fff;

 }
.regform a{
   text-decoration: none;
   font-size: 12px;
   line-height: 20px;
   color:brown;

 }
.regform a:hover
 {
   color: #ffc107;
 }